/*
 *  Reset CSS
 *  Inspired by Paul Irish & Eric Meyer
 *  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 *  https://meyerweb.com/eric/tools/css/reset
 *
 * */

html {
  font: 18px / 1.2;
  box-sizing: border-box;
}

html *, 
html *:before, 
html *:after {
  box-sizing: inherit;
}

body, body * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/**
 *
 * App Styles
 * Begins Here
 *
 * */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.App {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;

  height: 100vh;
  width: 100vw;
}

.App * {
  margin: 0.5em;
}

fieldset, input[type="text"], input[type="date"], select, button {
  border: 1px solid #000;
  padding: 0.5em;
}

pre {
  font-family: monospace;
  background-color: #eee;
  padding: 0.5em;
}
